<!-- <h1>{{ title }}</h1>

<input [type]="tipo" name="txtnombre" [value]="valor">

<input [type]="tipo" name="txtnombre" [value]="valor">
<img [src]="img" alt=""><br>
<a [href]="enlace">El comercio</a>

<p [className]="clase01">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste possimus quisquam
 praesentium quia, deserunt consequuntur nam ab laudantium asperiores maiores.
</p>
<p [ngClass]="clase02">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
  Dolorem ut deserunt ipsa cumque doloremque mollitia nobis</p> -->

<!-- <button (click)="onClick()">Enviar</button> -->

<input [(ngModel)]="nombre" placeholder="Enter your name">
<p>Hello, {{ nombre }}!</p>